USE [master]
GO
/****** Object:  Database [FinTrack]    Script Date: 23-Nov-24 11:05:47 PM ******/
CREATE DATABASE [FinTrack]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FinTrack', FILENAME = N'D:\SQL-Server\MSSQL16.SQLSERVER1\MSSQL\DATA\FinTrack.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FinTrack_log', FILENAME = N'D:\SQL-Server\MSSQL16.SQLSERVER1\MSSQL\DATA\FinTrack_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FinTrack].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FinTrack]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 23-Nov-24 11:05:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[ACCOUNT_ID] [int] IDENTITY(1000,1) NOT NULL,
	[ACCOUNT_TITLE] [nvarchar](50) NULL,
	[ACCOUNT_NUM] [varchar](34) NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[ACCOUNT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 23-Nov-24 11:05:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CATEGORY_ID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORY_NAME] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CATEGORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExpenseType]    Script Date: 23-Nov-24 11:05:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExpenseType](
	[EXPENSE_ID] [int] IDENTITY(1,1) NOT NULL,
	[EXPENSE_TITLE] [varchar](50) NULL,
	[FK_SUB_CATEGORY_ID] [int] NULL,
 CONSTRAINT [PK_ExpenseType] PRIMARY KEY CLUSTERED 
(
	[EXPENSE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobRole]    Script Date: 23-Nov-24 11:05:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobRole](
	[JOB_ROLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[JOB_TITLE] [varchar](50) NOT NULL,
 CONSTRAINT [PK_JobRole] PRIMARY KEY CLUSTERED 
(
	[JOB_ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobRolePermission]    Script Date: 23-Nov-24 11:05:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobRolePermission](
	[FK_JOB_ROLE_ID] [int] NOT NULL,
	[FK_PERMISSION_ID] [int] NOT NULL,
 CONSTRAINT [PK_JobRolePermission] PRIMARY KEY CLUSTERED 
(
	[FK_JOB_ROLE_ID] ASC,
	[FK_PERMISSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethod]    Script Date: 23-Nov-24 11:05:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethod](
	[PAYMENT_METHOD_ID] [int] IDENTITY(1,1) NOT NULL,
	[PAYMENT_METHOD_NAME] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PaymentMethod] PRIMARY KEY CLUSTERED 
(
	[PAYMENT_METHOD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permission]    Script Date: 23-Nov-24 11:05:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permission](
	[PERMISSION_ID] [int] IDENTITY(1,1) NOT NULL,
	[PERMISSION_NAME] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Permission] PRIMARY KEY CLUSTERED 
(
	[PERMISSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportLog]    Script Date: 23-Nov-24 11:05:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportLog](
	[REPORT_ID] [int] IDENTITY(1,1) NOT NULL,
	[REPORT_TYPE] [varchar](50) NOT NULL,
	[FK_GENERATED_BY] [int] NULL,
	[GENERATION_DATE] [datetime] NOT NULL,
	[START_DATE] [datetime] NOT NULL,
	[END_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_ReportLog] PRIMARY KEY CLUSTERED 
(
	[REPORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubCategory]    Script Date: 23-Nov-24 11:05:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCategory](
	[SUB_CATEGORY_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUB_CATEGORY_NAME] [varchar](50) NOT NULL,
	[FK_CATEGORY_ID] [int] NULL,
 CONSTRAINT [PK_SubCategory] PRIMARY KEY CLUSTERED 
(
	[SUB_CATEGORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 23-Nov-24 11:05:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[TRANSACTION_ID] [int] IDENTITY(1000,1) NOT NULL,
	[FK_PAYMENT_METHOD_ID] [int] NULL,
	[FK_ACCOUNT_ID] [int] NULL,
	[FK_EXPENSE_ID] [int] NULL,
	[TRANSACTION_DATE] [datetime] NOT NULL,
	[FK_CREATED_BY] [int] NULL,
	[TRANSACTION_AMOUNT] [money] NOT NULL,
	[FK_LAST_UPDATED_BY] [int] NULL,
 CONSTRAINT [PK_Transaction] PRIMARY KEY CLUSTERED 
(
	[TRANSACTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 23-Nov-24 11:05:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_NAME] [nvarchar](50) NOT NULL,
	[USER_DOB] [datetime] NULL,
	[FK_JOB_ROLE_ID] [int] NULL,
	[USER_EMAIL] [varchar](100) NULL,
	[USER_PASSWORD] [varchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAccount]    Script Date: 23-Nov-24 11:05:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccount](
	[FK_ACCOUNT_ID] [int] NOT NULL,
	[FK_USER_ID] [int] NOT NULL,
 CONSTRAINT [PK_UserAccount] PRIMARY KEY CLUSTERED 
(
	[FK_ACCOUNT_ID] ASC,
	[FK_USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ExpenseType]  WITH CHECK ADD  CONSTRAINT [FK_SubCategory_ExpenseType_SubCategoryID] FOREIGN KEY([FK_SUB_CATEGORY_ID])
REFERENCES [dbo].[SubCategory] ([SUB_CATEGORY_ID])
GO
ALTER TABLE [dbo].[ExpenseType] CHECK CONSTRAINT [FK_SubCategory_ExpenseType_SubCategoryID]
GO
ALTER TABLE [dbo].[JobRolePermission]  WITH CHECK ADD  CONSTRAINT [FK_JobRole_JobRolePermission_JobRoleID] FOREIGN KEY([FK_JOB_ROLE_ID])
REFERENCES [dbo].[JobRole] ([JOB_ROLE_ID])
GO
ALTER TABLE [dbo].[JobRolePermission] CHECK CONSTRAINT [FK_JobRole_JobRolePermission_JobRoleID]
GO
ALTER TABLE [dbo].[JobRolePermission]  WITH CHECK ADD  CONSTRAINT [FK_Permission_JobRolePermission_PermissionID] FOREIGN KEY([FK_PERMISSION_ID])
REFERENCES [dbo].[Permission] ([PERMISSION_ID])
GO
ALTER TABLE [dbo].[JobRolePermission] CHECK CONSTRAINT [FK_Permission_JobRolePermission_PermissionID]
GO
ALTER TABLE [dbo].[ReportLog]  WITH CHECK ADD  CONSTRAINT [FK_User_ReportLog_GeneratedBy] FOREIGN KEY([FK_GENERATED_BY])
REFERENCES [dbo].[User] ([USER_ID])
GO
ALTER TABLE [dbo].[ReportLog] CHECK CONSTRAINT [FK_User_ReportLog_GeneratedBy]
GO
ALTER TABLE [dbo].[SubCategory]  WITH CHECK ADD  CONSTRAINT [FK_Category_SubCategory_CategoryID] FOREIGN KEY([FK_CATEGORY_ID])
REFERENCES [dbo].[Category] ([CATEGORY_ID])
GO
ALTER TABLE [dbo].[SubCategory] CHECK CONSTRAINT [FK_Category_SubCategory_CategoryID]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Account_Transaction_AccountID] FOREIGN KEY([FK_ACCOUNT_ID])
REFERENCES [dbo].[Account] ([ACCOUNT_ID])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_Account_Transaction_AccountID]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_ExpenseType_Transaction_ExpenseID] FOREIGN KEY([FK_EXPENSE_ID])
REFERENCES [dbo].[ExpenseType] ([EXPENSE_ID])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_ExpenseType_Transaction_ExpenseID]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_PaymentMethod_Transaction_PaymentMethodID] FOREIGN KEY([FK_PAYMENT_METHOD_ID])
REFERENCES [dbo].[PaymentMethod] ([PAYMENT_METHOD_ID])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_PaymentMethod_Transaction_PaymentMethodID]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_User_Transaction_CreatedBy] FOREIGN KEY([FK_CREATED_BY])
REFERENCES [dbo].[User] ([USER_ID])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_User_Transaction_CreatedBy]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_User_Transaction_LastUpdatedBy] FOREIGN KEY([FK_LAST_UPDATED_BY])
REFERENCES [dbo].[User] ([USER_ID])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_User_Transaction_LastUpdatedBy]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_JobRole_User_JobRoleID] FOREIGN KEY([FK_JOB_ROLE_ID])
REFERENCES [dbo].[JobRole] ([JOB_ROLE_ID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_JobRole_User_JobRoleID]
GO
ALTER TABLE [dbo].[UserAccount]  WITH CHECK ADD  CONSTRAINT [FK_Account_UserAccount_AccountID] FOREIGN KEY([FK_ACCOUNT_ID])
REFERENCES [dbo].[Account] ([ACCOUNT_ID])
GO
ALTER TABLE [dbo].[UserAccount] CHECK CONSTRAINT [FK_Account_UserAccount_AccountID]
GO
ALTER TABLE [dbo].[UserAccount]  WITH CHECK ADD  CONSTRAINT [FK_User_UserAccount_UserID] FOREIGN KEY([FK_USER_ID])
REFERENCES [dbo].[User] ([USER_ID])
GO
ALTER TABLE [dbo].[UserAccount] CHECK CONSTRAINT [FK_User_UserAccount_UserID]
GO
USE [master]
GO
