USE [master]
GO
/****** Object:  Database [FinTrack]    Script Date: 23-Nov-24 10:58:34 PM ******/
CREATE DATABASE [FinTrack]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FinTrack', FILENAME = N'D:\SQL-Server\MSSQL16.SQLSERVER1\MSSQL\DATA\FinTrack.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FinTrack_log', FILENAME = N'D:\SQL-Server\MSSQL16.SQLSERVER1\MSSQL\DATA\FinTrack_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FinTrack].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FinTrack]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 23-Nov-24 10:58:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[ACCOUNT_ID] [int] IDENTITY(1000,1) NOT NULL,
	[ACCOUNT_TITLE] [nvarchar](50) NULL,
	[ACCOUNT_NUM] [varchar](34) NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[ACCOUNT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 23-Nov-24 10:58:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CATEGORY_ID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORY_NAME] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CATEGORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExpenseType]    Script Date: 23-Nov-24 10:58:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExpenseType](
	[EXPENSE_ID] [int] IDENTITY(1,1) NOT NULL,
	[EXPENSE_TITLE] [varchar](50) NULL,
	[FK_SUB_CATEGORY_ID] [int] NULL,
 CONSTRAINT [PK_ExpenseType] PRIMARY KEY CLUSTERED 
(
	[EXPENSE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobRole]    Script Date: 23-Nov-24 10:58:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobRole](
	[JOB_ROLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[JOB_TITLE] [varchar](50) NOT NULL,
 CONSTRAINT [PK_JobRole] PRIMARY KEY CLUSTERED 
(
	[JOB_ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobRolePermission]    Script Date: 23-Nov-24 10:58:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobRolePermission](
	[FK_JOB_ROLE_ID] [int] NOT NULL,
	[FK_PERMISSION_ID] [int] NOT NULL,
 CONSTRAINT [PK_JobRolePermission] PRIMARY KEY CLUSTERED 
(
	[FK_JOB_ROLE_ID] ASC,
	[FK_PERMISSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethod]    Script Date: 23-Nov-24 10:58:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethod](
	[PAYMENT_METHOD_ID] [int] IDENTITY(1,1) NOT NULL,
	[PAYMENT_METHOD_NAME] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PaymentMethod] PRIMARY KEY CLUSTERED 
(
	[PAYMENT_METHOD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permission]    Script Date: 23-Nov-24 10:58:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permission](
	[PERMISSION_ID] [int] IDENTITY(1,1) NOT NULL,
	[PERMISSION_NAME] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Permission] PRIMARY KEY CLUSTERED 
(
	[PERMISSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportLog]    Script Date: 23-Nov-24 10:58:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportLog](
	[REPORT_ID] [int] IDENTITY(1,1) NOT NULL,
	[REPORT_TYPE] [varchar](50) NOT NULL,
	[FK_GENERATED_BY] [int] NULL,
	[GENERATION_DATE] [datetime] NOT NULL,
	[START_DATE] [datetime] NOT NULL,
	[END_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_ReportLog] PRIMARY KEY CLUSTERED 
(
	[REPORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubCategory]    Script Date: 23-Nov-24 10:58:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCategory](
	[SUB_CATEGORY_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUB_CATEGORY_NAME] [varchar](50) NOT NULL,
	[FK_CATEGORY_ID] [int] NULL,
 CONSTRAINT [PK_SubCategory] PRIMARY KEY CLUSTERED 
(
	[SUB_CATEGORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 23-Nov-24 10:58:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[TRANSACTION_ID] [int] IDENTITY(1000,1) NOT NULL,
	[FK_PAYMENT_METHOD_ID] [int] NULL,
	[FK_ACCOUNT_ID] [int] NULL,
	[FK_EXPENSE_ID] [int] NULL,
	[TRANSACTION_DATE] [datetime] NOT NULL,
	[FK_CREATED_BY] [int] NULL,
	[TRANSACTION_AMOUNT] [money] NOT NULL,
	[FK_LAST_UPDATED_BY] [int] NULL,
 CONSTRAINT [PK_Transaction] PRIMARY KEY CLUSTERED 
(
	[TRANSACTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 23-Nov-24 10:58:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_NAME] [nvarchar](50) NOT NULL,
	[USER_DOB] [datetime] NULL,
	[FK_JOB_ROLE_ID] [int] NULL,
	[USER_EMAIL] [varchar](100) NULL,
	[USER_PASSWORD] [varchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAccount]    Script Date: 23-Nov-24 10:58:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccount](
	[FK_ACCOUNT_ID] [int] NOT NULL,
	[FK_USER_ID] [int] NOT NULL,
 CONSTRAINT [PK_UserAccount] PRIMARY KEY CLUSTERED 
(
	[FK_ACCOUNT_ID] ASC,
	[FK_USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([ACCOUNT_ID], [ACCOUNT_TITLE], [ACCOUNT_NUM]) VALUES (1033, N'HUZAIFAH TARIQ AHMED', N'1015897439573')
INSERT [dbo].[Account] ([ACCOUNT_ID], [ACCOUNT_TITLE], [ACCOUNT_NUM]) VALUES (1034, N'DANIYAL AHMED', N'1022385903479')
INSERT [dbo].[Account] ([ACCOUNT_ID], [ACCOUNT_TITLE], [ACCOUNT_NUM]) VALUES (1035, N'SAMIYA ALI ZAIDI', N'1209357984375')
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CATEGORY_ID], [CATEGORY_NAME]) VALUES (3, N'Expense')
INSERT [dbo].[Category] ([CATEGORY_ID], [CATEGORY_NAME]) VALUES (4, N'Revenue')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[ExpenseType] ON 

INSERT [dbo].[ExpenseType] ([EXPENSE_ID], [EXPENSE_TITLE], [FK_SUB_CATEGORY_ID]) VALUES (11, N'Product Sales', 6)
INSERT [dbo].[ExpenseType] ([EXPENSE_ID], [EXPENSE_TITLE], [FK_SUB_CATEGORY_ID]) VALUES (12, N'Office Supplies', 5)
INSERT [dbo].[ExpenseType] ([EXPENSE_ID], [EXPENSE_TITLE], [FK_SUB_CATEGORY_ID]) VALUES (13, N'Utilities', 5)
SET IDENTITY_INSERT [dbo].[ExpenseType] OFF
GO
SET IDENTITY_INSERT [dbo].[JobRole] ON 

INSERT [dbo].[JobRole] ([JOB_ROLE_ID], [JOB_TITLE]) VALUES (25, N'Administrator')
INSERT [dbo].[JobRole] ([JOB_ROLE_ID], [JOB_TITLE]) VALUES (26, N'Accountant')
INSERT [dbo].[JobRole] ([JOB_ROLE_ID], [JOB_TITLE]) VALUES (27, N'Auditor')
SET IDENTITY_INSERT [dbo].[JobRole] OFF
GO
INSERT [dbo].[JobRolePermission] ([FK_JOB_ROLE_ID], [FK_PERMISSION_ID]) VALUES (25, 13)
INSERT [dbo].[JobRolePermission] ([FK_JOB_ROLE_ID], [FK_PERMISSION_ID]) VALUES (25, 14)
INSERT [dbo].[JobRolePermission] ([FK_JOB_ROLE_ID], [FK_PERMISSION_ID]) VALUES (25, 15)
GO
SET IDENTITY_INSERT [dbo].[PaymentMethod] ON 

INSERT [dbo].[PaymentMethod] ([PAYMENT_METHOD_ID], [PAYMENT_METHOD_NAME]) VALUES (8, N'Credit Card')
INSERT [dbo].[PaymentMethod] ([PAYMENT_METHOD_ID], [PAYMENT_METHOD_NAME]) VALUES (9, N'Debit Card')
INSERT [dbo].[PaymentMethod] ([PAYMENT_METHOD_ID], [PAYMENT_METHOD_NAME]) VALUES (10, N'Mobile Payment')
SET IDENTITY_INSERT [dbo].[PaymentMethod] OFF
GO
SET IDENTITY_INSERT [dbo].[Permission] ON 

INSERT [dbo].[Permission] ([PERMISSION_ID], [PERMISSION_NAME]) VALUES (13, N'Add')
INSERT [dbo].[Permission] ([PERMISSION_ID], [PERMISSION_NAME]) VALUES (14, N'View')
INSERT [dbo].[Permission] ([PERMISSION_ID], [PERMISSION_NAME]) VALUES (15, N'Edit')
SET IDENTITY_INSERT [dbo].[Permission] OFF
GO
SET IDENTITY_INSERT [dbo].[ReportLog] ON 

INSERT [dbo].[ReportLog] ([REPORT_ID], [REPORT_TYPE], [FK_GENERATED_BY], [GENERATION_DATE], [START_DATE], [END_DATE]) VALUES (1, N'Monthly Report', 37, CAST(N'2024-11-04T00:00:00.000' AS DateTime), CAST(N'2024-10-01T00:00:00.000' AS DateTime), CAST(N'2024-10-31T00:00:00.000' AS DateTime))
INSERT [dbo].[ReportLog] ([REPORT_ID], [REPORT_TYPE], [FK_GENERATED_BY], [GENERATION_DATE], [START_DATE], [END_DATE]) VALUES (2, N'Annual Report', 36, CAST(N'2024-11-05T00:00:00.000' AS DateTime), CAST(N'2024-01-01T00:00:00.000' AS DateTime), CAST(N'2024-12-31T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[ReportLog] OFF
GO
SET IDENTITY_INSERT [dbo].[SubCategory] ON 

INSERT [dbo].[SubCategory] ([SUB_CATEGORY_ID], [SUB_CATEGORY_NAME], [FK_CATEGORY_ID]) VALUES (5, N'Purchase', 3)
INSERT [dbo].[SubCategory] ([SUB_CATEGORY_ID], [SUB_CATEGORY_NAME], [FK_CATEGORY_ID]) VALUES (6, N'Sales', 4)
INSERT [dbo].[SubCategory] ([SUB_CATEGORY_ID], [SUB_CATEGORY_NAME], [FK_CATEGORY_ID]) VALUES (7, N'Payment', 3)
SET IDENTITY_INSERT [dbo].[SubCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[Transaction] ON 

INSERT [dbo].[Transaction] ([TRANSACTION_ID], [FK_PAYMENT_METHOD_ID], [FK_ACCOUNT_ID], [FK_EXPENSE_ID], [TRANSACTION_DATE], [FK_CREATED_BY], [TRANSACTION_AMOUNT], [FK_LAST_UPDATED_BY]) VALUES (1002, 8, 1033, 12, CAST(N'2024-11-01T00:00:00.000' AS DateTime), 32, 500.0000, 32)
INSERT [dbo].[Transaction] ([TRANSACTION_ID], [FK_PAYMENT_METHOD_ID], [FK_ACCOUNT_ID], [FK_EXPENSE_ID], [TRANSACTION_DATE], [FK_CREATED_BY], [TRANSACTION_AMOUNT], [FK_LAST_UPDATED_BY]) VALUES (1003, 9, 1034, 11, CAST(N'2024-11-02T00:00:00.000' AS DateTime), 33, 300.0000, 33)
INSERT [dbo].[Transaction] ([TRANSACTION_ID], [FK_PAYMENT_METHOD_ID], [FK_ACCOUNT_ID], [FK_EXPENSE_ID], [TRANSACTION_DATE], [FK_CREATED_BY], [TRANSACTION_AMOUNT], [FK_LAST_UPDATED_BY]) VALUES (1004, 11, 1035, 14, CAST(N'2024-11-03T00:00:00.000' AS DateTime), 34, 200.0000, 34)
SET IDENTITY_INSERT [dbo].[Transaction] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([USER_ID], [USER_NAME], [USER_DOB], [FK_JOB_ROLE_ID], [USER_EMAIL], [USER_PASSWORD]) VALUES (32, N'John Doe', CAST(N'1990-01-01T00:00:00.000' AS DateTime), 25, N'john@example.com', N'password123')
INSERT [dbo].[User] ([USER_ID], [USER_NAME], [USER_DOB], [FK_JOB_ROLE_ID], [USER_EMAIL], [USER_PASSWORD]) VALUES (33, N'Daniyal Zaidi', CAST(N'1990-01-01T00:00:00.000' AS DateTime), 25, N'daniyal@what.com', N'iAmDaniyal')
INSERT [dbo].[User] ([USER_ID], [USER_NAME], [USER_DOB], [FK_JOB_ROLE_ID], [USER_EMAIL], [USER_PASSWORD]) VALUES (34, N'Daniyal Cool', CAST(N'2005-01-01T00:00:00.000' AS DateTime), 25, N'cool@example.com', N'daniyal')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
INSERT [dbo].[UserAccount] ([FK_ACCOUNT_ID], [FK_USER_ID]) VALUES (1033, 32)
INSERT [dbo].[UserAccount] ([FK_ACCOUNT_ID], [FK_USER_ID]) VALUES (1034, 33)
INSERT [dbo].[UserAccount] ([FK_ACCOUNT_ID], [FK_USER_ID]) VALUES (1035, 34)
GO
ALTER TABLE [dbo].[ExpenseType]  WITH CHECK ADD  CONSTRAINT [FK_SubCategory_ExpenseType_SubCategoryID] FOREIGN KEY([FK_SUB_CATEGORY_ID])
REFERENCES [dbo].[SubCategory] ([SUB_CATEGORY_ID])
GO
ALTER TABLE [dbo].[ExpenseType] CHECK CONSTRAINT [FK_SubCategory_ExpenseType_SubCategoryID]
GO
ALTER TABLE [dbo].[JobRolePermission]  WITH CHECK ADD  CONSTRAINT [FK_JobRole_JobRolePermission_JobRoleID] FOREIGN KEY([FK_JOB_ROLE_ID])
REFERENCES [dbo].[JobRole] ([JOB_ROLE_ID])
GO
ALTER TABLE [dbo].[JobRolePermission] CHECK CONSTRAINT [FK_JobRole_JobRolePermission_JobRoleID]
GO
ALTER TABLE [dbo].[JobRolePermission]  WITH CHECK ADD  CONSTRAINT [FK_Permission_JobRolePermission_PermissionID] FOREIGN KEY([FK_PERMISSION_ID])
REFERENCES [dbo].[Permission] ([PERMISSION_ID])
GO
ALTER TABLE [dbo].[JobRolePermission] CHECK CONSTRAINT [FK_Permission_JobRolePermission_PermissionID]
GO
ALTER TABLE [dbo].[ReportLog]  WITH CHECK ADD  CONSTRAINT [FK_User_ReportLog_GeneratedBy] FOREIGN KEY([FK_GENERATED_BY])
REFERENCES [dbo].[User] ([USER_ID])
GO
ALTER TABLE [dbo].[ReportLog] CHECK CONSTRAINT [FK_User_ReportLog_GeneratedBy]
GO
ALTER TABLE [dbo].[SubCategory]  WITH CHECK ADD  CONSTRAINT [FK_Category_SubCategory_CategoryID] FOREIGN KEY([FK_CATEGORY_ID])
REFERENCES [dbo].[Category] ([CATEGORY_ID])
GO
ALTER TABLE [dbo].[SubCategory] CHECK CONSTRAINT [FK_Category_SubCategory_CategoryID]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Account_Transaction_AccountID] FOREIGN KEY([FK_ACCOUNT_ID])
REFERENCES [dbo].[Account] ([ACCOUNT_ID])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_Account_Transaction_AccountID]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_ExpenseType_Transaction_ExpenseID] FOREIGN KEY([FK_EXPENSE_ID])
REFERENCES [dbo].[ExpenseType] ([EXPENSE_ID])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_ExpenseType_Transaction_ExpenseID]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_PaymentMethod_Transaction_PaymentMethodID] FOREIGN KEY([FK_PAYMENT_METHOD_ID])
REFERENCES [dbo].[PaymentMethod] ([PAYMENT_METHOD_ID])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_PaymentMethod_Transaction_PaymentMethodID]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_User_Transaction_CreatedBy] FOREIGN KEY([FK_CREATED_BY])
REFERENCES [dbo].[User] ([USER_ID])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_User_Transaction_CreatedBy]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_User_Transaction_LastUpdatedBy] FOREIGN KEY([FK_LAST_UPDATED_BY])
REFERENCES [dbo].[User] ([USER_ID])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_User_Transaction_LastUpdatedBy]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_JobRole_User_JobRoleID] FOREIGN KEY([FK_JOB_ROLE_ID])
REFERENCES [dbo].[JobRole] ([JOB_ROLE_ID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_JobRole_User_JobRoleID]
GO
ALTER TABLE [dbo].[UserAccount]  WITH CHECK ADD  CONSTRAINT [FK_Account_UserAccount_AccountID] FOREIGN KEY([FK_ACCOUNT_ID])
REFERENCES [dbo].[Account] ([ACCOUNT_ID])
GO
ALTER TABLE [dbo].[UserAccount] CHECK CONSTRAINT [FK_Account_UserAccount_AccountID]
GO
ALTER TABLE [dbo].[UserAccount]  WITH CHECK ADD  CONSTRAINT [FK_User_UserAccount_UserID] FOREIGN KEY([FK_USER_ID])
REFERENCES [dbo].[User] ([USER_ID])
GO
ALTER TABLE [dbo].[UserAccount] CHECK CONSTRAINT [FK_User_UserAccount_UserID]
GO
USE [master]
GO
